[Unit]
Description = systemd setteing for IotLogger client
After=network-online.target
ConditionPathExists=/home/pi/app/IotLoggerClientSample

[Service]
WorkingDirectory=/home/pi/app/IotLoggerClientSample/
ExecStart=/home/pi/app/IotLoggerClientSample/start.sh
User=pi
Group=pi
Restart=no
Type=simple


[Install]
WantedBy=multi-user.target
